name: Deploy Go Backend

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write   # обязательно для push в GHCR

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Забираем код
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Логин в GitHub Container Registry
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin

      # 3. Сборка Docker-образа
      - name: Build Docker image
        run: |
          IMAGE=ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):latest
          docker build -t $IMAGE .

      # 4. Публикация образа
      - name: Push Docker image
        run: |
          IMAGE=ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]'):latest
          docker push $IMAGE

      # 5. Деплой на сервер по SSH
      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}

          command_timeout: 30m
          timeout: 30m

          script: |
              set -e
  
              cd /opt/app
  
              echo "Pull new images"
              docker compose pull
  
              echo "Restart services"
              docker compose up -d
  
              echo "Cleanup old images"
              docker image prune -f
