name: Deploy with SSH Action

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
              set -e
              cd /opt/app
              
              # Если директории нет - создаем
              if [ ! -d '.git' ]; then
                git clone https://github.com/ITMO-Monitoring-System/backend .
              fi
              
              git pull origin main
              docker-compose down || true
              docker-compose up -d --build
              docker-compose ps