name: Deploy via rsync

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy files via rsync
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}        # 89.111.170.130
          username: ${{ secrets.SSH_USERNAME }}    # deploy
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}        # 22
          timeout: 30m
          command_timeout: 30m

          script: |
            set -e

            echo "Sync files"
            rsync -az --delete \
              --exclude=".git" \
              --exclude=".github" \
              ./ /opt/app

            echo "Restart services"
            cd /opt/app
            docker compose up -d --build

            echo "Cleanup"
            docker image prune -f
